includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon
parameters:
	excludes_analyse:
	ignoreErrors:
		-
			message: '#Type mixed in generic type Doctrine.* #'
			path:  src/GridFilterAbstract.php
		-
			message: '#Method Hanaboso\\MongoDataGrid\\GridFilterAbstract#'
			path:  src/GridFilterAbstract.php
		-
			message: '#Call to method findAll.* #'
			path:  tests/Integration/DatabaseConfigurationTest.php
	ergebnis:
		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\MongoDataGrid\Result\ResultData
			- Hanaboso\MongoDataGrid\GridRequestDto
		classesAllowedToBeExtended:
			- MongoDataGridTests\TestCaseAbstract
			- Hanaboso\MongoDataGrid\GridFilterAbstract
